#Files
Icon
.ds_store
package-lock.json
secret.*

#Extenciones
*.tmLanguage.json
*.log
*.firebase
*.meme.cache
*.pruebas.mh
*.pruebas.mc
*.pruebas.mj

#Folder
node_modules
build
*_Build
prueba
pruebas
enerate
GitMerged/02_Index/icons
